{% extends '_layout/main.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

    <h1 class="mt-5">STYL<strong>E28</strong></h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Volutpat sed cras ornare arcu dui vivamus arcu. Dui accumsan sit amet nulla facilisi morbi. Turpis
        tincidunt id aliquet risus feugiat in ante metus. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper
        malesuada proin. Pellentesque massa placerat duis ultricies lacus sed turpis. Mi quis hendrerit dolor magna eget
        est lorem ipsum dolor. In massa tempor nec feugiat nisl. Ut diam quam nulla porttitor massa. Platea dictumst
        vestibulum rhoncus est pellentesque elit ullamcorper.</p>
    <hr class="mb-5">

    <h2>Latest news</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Volutpat sed cras ornare arcu dui vivamus arcu. Dui accumsan sit amet nulla facilisi morbi. Turpis
        tincidunt id aliquet risus feugiat in ante metus. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper
        malesuada proin. Pellentesque massa placerat duis ultricies lacus sed turpis. Mi quis hendrerit dolor magna eget
        est lorem ipsum dolor. In massa tempor nec feugiat nisl. Ut diam quam nulla porttitor massa. Platea dictumst
        vestibulum rhoncus est pellentesque elit ullamcorper.</p>

    <hr class="mb-5">
    <h2>Latest photos</h2>

{% endblock %}
